body {
  background-image: url("../images/background.webp");
  color: #d9cfcf;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.centered {
  grid-column: 2;
}

h1 {
  font-size: 2.5em;
  font-family: sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: sans-serif;
}


nav>ul {
  list-style-type: none;
  padding-top: 24px;
}

.navigationAnchor {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #d9cfcf;
}

.navigationAnchor:hover {
  text-decoration: underline;
  color: #daa92c;
}